QPushButton {
    color: #fff;
    border: 0 solid rgba(255, 255, 255, 0);
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
    padding: 0 10px;
}


/*Apps Widget*/
QWidget[class="appswidget"] {
    border: 0;
    border-left: 4 solid #f1f1f1;
}


/*Sidebar*/
QFrame[class="sidebar"] {
    background-color: #fff;
    border: 0;
}

QPushButton[class="sidebar_btns"] {
    color: #fff;
    border: 0 solid rgba(255, 255, 255, 0);
    border-radius: 0;
    background-color: #fff;
}

QPushButton:hover[class="sidebar_btns"] {
    background: QLinearGradient(
    x1: 0, y1: 0,
    x2: 1, y2: 0,
    stop: 0 #f1f1f1,
    stop: 1 #FCFCFC);
}

QPushButton:pressed[class="sidebar_btns"] {
    background: QLinearGradient(
    x1: 0, y1: 0,
    x2: 1, y2: 0,
    stop: 0 #d8d8d8,
    stop: 1 #FCFCFC);
}

QPushButton:disabled[class="sidebar_btns"] {
    color: #bdc3c7;
}

QPushButton[class="sidebar_btns_quit"] {
    color: #fff;
    border: 0 solid rgba(255, 255, 255, 0);
    border-radius: 0;
    background-color: #fff;
}

QPushButton:hover[class="sidebar_btns_quit"] {
    background: QLinearGradient(
    x1: 0, y1: 0,
    x2: 1, y2: 0,
    stop: 0 #ffd1d1,
    stop: 1 #ffeaea);
}

QPushButton:pressed[class="sidebar_btns_quit"] {
    background: QLinearGradient(
    x1: 0, y1: 0,
    x2: 1, y2: 0,
    stop: 0 #ffb8b7,
    stop: 1 #ffeaea);
}

QPushButton:disabled[class="sidebar_btns_quit"] {
    color: #bdc3c7;
}


/*Aqua buttons*/
QPushButton[class="Aqua"] {
    color: #000;
    background-color: #fff;
    border: 2 solid #33BEF0;
}

QPushButton:hover[class="Aqua"] {
    color: #fff;
    border: 0;
    background: QLinearGradient(
    x1: 0, y1: 0,
    x2: 1, y2: 0,
    stop: 0 #0A85D9,
    stop: 1 #33BEF0);
}

QPushButton:pressed[class="Aqua"] {
    background: QLinearGradient(
    x1: 0, y1: 0,
    x2: 1, y2: 0,
    stop: 0 #0B59A2,
    stop: 1 #047ED6);
}

QPushButton:disabled[class="Aqua"] {
    color: #bdc3c7;
    background-color: #f1f1f1;
    border: 2 solid #bdc3c7;
}


/*Grapefruit buttons*/
QPushButton[class="Grapefruit"] {
    color: #000;
    background-color: #fff;
    border: 2 solid #F44F5A;
}

QPushButton:hover[class="Grapefruit"] {
    color: #fff;
    border: 0;
    background: QLinearGradient(
    x1: 0, y1: 0,
    x2: 1, y2: 0,
    stop: 0 #E52030,
    stop: 0.5 #EE3D4A,
    stop: 1 #F44F5A);
}

QPushButton:pressed[class="Grapefruit"] {
    background: QLinearGradient(
    x1: 0, y1: 0,
    x2: 1, y2: 0,
    stop: 0 #A8142E,
    stop: 0.5 #BA1632,
    stop: 1 #C21734);
}

QPushButton:disabled[class="Grapefruit"] {
    color: #bdc3c7;
    background-color: #f1f1f1;
    border: 2 solid #bdc3c7;
}


/*QProgressBar*/
QProgressBar {
    border-radius: 5px;
    text-align: center;
    background-color: #fff;
}

QProgressBar::chunk {
    border-radius: 3px;
    background: QLinearGradient(
    x1: 0, y1: 0,
    x2: 1, y2: 0,
    stop: 0 #fff,
    stop: 0.5 #33BEF0,
    stop: 1 #0A85D9);
}


/*QCheckBox*/
QCheckBox::indicator:unchecked {
    width: 11px;
    height: 11px;
    border: 1px solid #0A85D9;
    background-color: #fff;
}

QCheckBox::indicator:unchecked:hover {
    border: 1px solid #33BEF0;
}

QCheckBox::indicator:checked {
    image: url(':/icon/checkbox_checked.png');
    width: 13px;
    height: 13px;
}

QCheckBox::indicator:disabled {
    border: 1px solid #f1f1f1;
}

QCheckBox:disabled {
    color: #a8b0b5;
}


/*QMessageBox*/
QMessageBox{
    background-color: #fff;
}

QMessageBox QPushButton {
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
    color: #000;
    background-color: #fff;
    border: 2 solid #21AD64;
    min-width: 50px;
    height: 30px;
}

QMessageBox QPushButton:hover {
    color: #fff;
    border: 0;
    background: QLinearGradient(
    x1: 0, y1: 0,
    x2: 1, y2: 0,
    stop: 0 #088242,
    stop: 1 #21AD64);
}

QMessageBox QPushButton[class="button_yes"] {
    color: #000;
    background-color: #fff;
    border: 2 solid #21AD64;
}

QMessageBox QPushButton[class="button_no"] {
    color: #000;
    background-color: #fff;
    border: 2 solid #F44F5A;
}

QMessageBox QPushButton:hover[class="button_yes"] {
    color: #fff;
    border: 0;
    background: QLinearGradient(
    x1: 0, y1: 0,
    x2: 1, y2: 0,
    stop: 0 #088242,
    stop: 1 #21AD64);
}

QMessageBox QPushButton:hover[class="button_no"] {
    color: #fff;
    border: 0;
    background: QLinearGradient(
    x1: 0, y1: 0,
    x2: 1, y2: 0,
    stop: 0 #E52030,
    stop: 0.5 #EE3D4A,
    stop: 1 #F44F5A);
}

QWidget {
    background-color: #fff;
    outline: 0;
}